<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArbBetSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="Mappings">
      <section name="Other" type="System.Configuration.DictionarySectionHandler"/>
      <section name="Order" type="System.Configuration.DictionarySectionHandler"/>
      <section name="WinBack" type="System.Configuration.DictionarySectionHandler"/>
      <section name="PlaceBack" type="System.Configuration.DictionarySectionHandler"/>
      <section name="WinLay" type="System.Configuration.DictionarySectionHandler"/>
      <section name="PlaceLay" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ArbBetSystem.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %5.5p [%t] %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <ArbBetSystem.Properties.Settings>
      <setting name="DynamicOddsUrl" serializeAs="String">
        <value>http://dynamicraceodds.com</value>
      </setting>
      <setting name="TimeRollover" serializeAs="String">
        <value>01/01/0001 07:00:00</value>
      </setting>
      <setting name="DynamicOddsPollInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DynamicOddsPreEventCheck" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DynamicOddsPostEventCheck" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BetFairPollInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="BetFairPreEventCheck" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="BetFairPostEventCheck" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BetFairUrl" serializeAs="String">
        <value>http://stream-api.betfair.com:443/api</value>
      </setting>
    </ArbBetSystem.Properties.Settings>
  </applicationSettings>
  <Mappings>
    <Other>
      <add key="No" value="No"/>
      <add key="Name" value="Name"/>
      <add key="WinPercent" value="Win Percent"/>
      <add key="PlacePercent" value="Place Percent"/>
      <add key="OddsIAS" value="OddsIAS"/>
    </Other>
    <WinBack>
      <add key="OddsSB" value="William Hill Win"/>
      <add key="OddsSB2" value="Sports Bet Win"/>
    </WinBack>
    <PlaceBack>
      <add key="OddsSB_p" value="William Hill Place"/>
    </PlaceBack>
    <WinLay>
      <add key="OddsBF_L1" value="BetFair Lay Win"/>
    </WinLay>
    <PlaceLay>
      <add key="OddsBF_L1_p" value="BetFair Lay Place"/>
    </PlaceLay>
    <Order>
      <add key="No" value="0"/>
      <add key="Name" value="1"/>
      <add key="WinPercent" value="2"/>
      <add key="PlacePercent" value="3"/>
      <add key="OddsIAS" value="4"/>
      <add key="OddsSB" value="6"/>
      <add key="OddsSB2" value="7"/>
      <add key="OddsSB_p" value="9"/>
      <add key="OddsBF_L1" value="5"/>
      <add key="OddsBF_L1_p" value="8"/>
    </Order>
    <!--
      Properties available for display:
      Name
      Jockey
      Trainer
      Bar
      Hcp
      No
      WinPercent
      PlacePercent
      RNo
      RName
      Scr
      
      Properties available for display and comparison:
      OddsV
      OddsV_P
      OddsN
      OddsN_P
      OddsQ
      OddsQ_P
      OddsAT
      OddsNZ
      OddsBE
      OddsIAS
      OddsIAS_2
      OddsSB
      OddsSB_2
      OddsSB_3
      OddsCB
      OddsSB2
      OddsSA
      OddsCR
      OddsBC
      OddsWB
      OddsYBB
      OddsPB
      OddsBS
      OddsBF_B3
      AmtBF_B3
      OddsBF_B2
      AmtBF_B2
      OddsBF_B1
      AmtBF_B1
      OddsBF_L1
      AmtBF_L1
      OddsBF_L2
      AmtBF_L2
      OddsBF_L3
      AmtBF_L3
      OddsBF_B3_p
      AmtBF_B3_p
      OddsBF_B2_p
      AmtBF_B2_p
      OddsBF_B1_p
      AmtBF_B1_p
      OddsBF_L1_p
      AmtBF_L1_p
      OddsBF_L2_p
      AmtBF_L2_p
      OddsBF_L3_p
      AmtBF_L3_p
      OddsCB_p
      MatchBF
      MatchBF_p
      LastBF
      LastBF_p
      OddsV_FX
      OddsN_FX
      OddsQ_FX
      OddsLB
      OddsBF_WAP
      OddsBE_FX
      OddsTS2
      OddsSB_p
      OddsLB_p
      OddsQ_FX_p
      OddsBM
      OddsBT
      OddsBB2
      OddsPB2
      OddsSB5
      OddsUB
      OddsNZ_FX
    -->
  </Mappings>
</configuration>