<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArbBetSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ArbBetSystem.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %5.5p [%t] %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <ArbBetSystem.Properties.Settings>
      <setting name="DynamicOddsUrl" serializeAs="String">
        <value>http://dynamicraceodds.com</value>
      </setting>
      <setting name="TimeRollover" serializeAs="String">
        <value>01/01/0001 07:00:00</value>
      </setting>
      <setting name="PollInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="PreEventCheck" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PostEventCheck" serializeAs="String">
        <value>1</value>
      </setting>
    </ArbBetSystem.Properties.Settings>
  </applicationSettings>
</configuration>